.nav-link {
    color: white !important;
    font-size: 20px !important; 
}

.nav-link:hover {
    color: white !important;
    background-color:chocolate;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

.navbar-brand {
  color: white !important;
  font-size: 25px !important; 
}