.card-text {
  font-size:12px;
  text-align: center !important;
}

.card-title {
  font-size: 15px;
}

body {
  margin-top:20px;
}

.content {
  background: #fff;
  margin-top: 10vh;
}

.page-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  font-weight: 700;
}

.table-container {
  padding:15px;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.table-container p {
  text-align:justify;
}

.pad {
  padding: 24px;
  background: white;
}

.col {
	margin: 30px;
}

.container {
	margin-left: -10px;
}

.medium {
  width: 200px;
  height: 200px;
}

.card-margin {
  margin: 28px;
}

.pagination {
margin: 15px auto;
display: flex;
list-style: none;
outline: none;
}

.pagination > .active > a{
background-color: #00bfff ;
border-color: #00bfff ;
color: #fff;
}

.pagination > li > a{
border: 1px solid #00bfff ;
padding: 5px 10px;
outline: none;
cursor: pointer;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
background-color: #00bfff ;
border-color: #00bfff;
outline: none ;
}

.pagination > li > a, .pagination > li > span{
color: #00bfff
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
border-radius: unset
}

.hotel-card-img {
border-style: double
}

.hotel-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -25px !important;
}

.hotel-card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
  height: 600px;
  width: 450px;
}

.h6 {
  font-size: 15px
}

.ais-Pagination-list {
	margin: 0;
	padding: 0;
	list-style: none
}

.ais-Menu-showMore,
.ais-RefinementList-showMore {
	padding: 0;
	overflow: visible;
	font: inherit;
	line-height: normal;
	color: inherit;
	background: none;
	border: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.ais-Pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

[class^=ais-] {
	font-size: 1rem;
	box-sizing: border-box
}

.ais-Pagination-list {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.ais-Pagination-item+.ais-Pagination-item {
	margin-left: .3rem
}

.ais-Pagination-link {
	padding: .3rem .6rem;
	display: block;
	border: 1px solid #c4c8d8;
	border-radius: 5px;
	transition: background-color .2s ease-out
}

.ais-Pagination-link:focus,
.ais-Pagination-link:hover {
	background-color: #e3e5ec
}

.ais-Pagination-item--disabled .ais-Pagination-link {
	opacity: .6;
	cursor: not-allowed;
	color: #a5abc4
}

.ais-Pagination-item--disabled .ais-Pagination-link:focus,
.ais-Pagination-item--disabled .ais-Pagination-link:hover {
	color: #a5abc4;
	background-color: #fff
}

.ais-Pagination-item--selected .ais-Pagination-link {
	color: #fff;
	background-color: #0096db;
	border-color: #0096db
}

.ais-Pagination-item--selected .ais-Pagination-link:focus,
.ais-Pagination-item--selected .ais-Pagination-link:hover {
	color: #fff
}

#search-span {
	background-color: yellow;
}

.algolialogo {
	display:flex; 
	flex-direction:row;
	align-items: center;
	font-family: "Raleway";
	text-align: left;
	margin-left: 15px;
}

.instance-count {
	text-align: right;
}